html {
    background-color:#f5f5f5;
}
#app {
    display: flex; align-items: center; justify-content: center;
}
.container-wrap {
    display: flex; align-items: center; justify-content: center;
    min-height:100vh;
    padding-top:40px; padding-bottom:40px;
    text-align: center;
    background-color:#fff;
}
.logo {
    width:180px; margin-top:-60px;
}

.box-barcode {
    margin-bottom:60px;
}
.box-barcode .body {
    margin-top:40px; margin-bottom:20px;
    font-size:24px; color:#2b68b1; font-weight:400;
}
.box-barcode .barcode-wrap {
    width:250px;
    margin:0 auto; margin-bottom:30px;
    border:10px solid #00a2e1;
}
.box-barcode .barcode-wrap img {
    width: 100%;
}
.box-barcode .title {
    font-size:34px;
}
.btns {
    display:flex; align-items: center; justify-content: center;
    width:768px;
    margin-top:20px;
    position:fixed; bottom:0; left:50%; transform:translateX(-50%);
}
.btns .btn {
    display: flex; align-items: center; justify-content: center;
    flex:1; padding:12px 0px; padding-top:16px;
    font-size:20px; font-weight:bold;
    background-color:#fff;
    color:#00a2e1;
}
.btns .btn:first-of-type {
    background-color:#00a2e1; color:#fff;
}
.btns .btn:first-of-type i {
    color:#fff;
}
.btns .btn:nth-child(2) {
    color:#00a2e1;
    border-color:#00a2e1;
}
.btns .btn:nth-child(2) i {
    color:#00a2e1;
}
.btns .btn {
    border:2px solid transparent;
}
.btns .btn i {
    margin-right:12px;
    font-size:20px;
    color:#00a2e1;
}
.footer .body {
    font-size:24px; color:#666666;
}
.footer .link {
    display: inline-block;
    margin-top:8px;
    font-size:20px; color:#666666; font-weight:400;
}

.container {
    width:768px; margin:0 auto; margin-top:-60px;
}

@media screen and (max-width:768px) {
    .container-wrap {
        width:100%;
    }
    .container {
        width:100%;
    }
    .logo {
        margin-top:0;
        width:100px;
    }
    .box-barcode {
        margin-bottom:50px;
    }
    .box-barcode .body {
        margin-top:30px;
        font-size:18px;
    }
    .box-barcode .barcode-wrap {
        width:200px;
    }
    .btns {
        width:100%;
    }
    .btns .btn {
        padding-top:14px;
    }
    .box-barcode .title {
        font-size:24px;
    }
    .footer .body {
        font-size:18px;
    }
    .footer .link {
        font-size:16px;
    }
}

@media print {
    .container {
        margin-top:0;
    }
    .btns {
        display:none !important;
    }
    .btn {
        display: none !important;
    }
    @page {margin:0 1.3cm}
}